@model Test_app_uepaticket.Context.@event

@{
    ViewBag.Title = "Event";
}

<style>
    .error {
        color: red;
    }
</style>

<h2>Event Maintenance</h2>
<div style="margin-top: 50px">
    @using (Html.BeginForm("AddOrEditEvent", "Event", FormMethod.Post))
    {
        <form>
            <div class="container">
                <div class="form-group">
                    @Html.HiddenFor(x => x.id)
                    <label>Name</label>
                    @Html.ValidationMessageFor(x => x.name, "", new { @class = "error" })
                    @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Description</label>
                    @Html.ValidationMessageFor(x => x.description, "", new { @class = "error" })
                    @Html.TextAreaFor(x => x.description, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Image URL</label>
                    @Html.ValidationMessageFor(x => x.image_url, "", new { @class = "error" })
                    @Html.TextAreaFor(x => x.image_url, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Category</label>
                    @Html.ValidationMessageFor(x => x.event_category_id, "", new { @class = "error" })
                    @Html.DropDownListFor(x => x.event_category_id, ViewBag.CategoryList as SelectList, "--Select Category--", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Category</label>
                    @Html.ValidationMessageFor(x => x.event_location_id, "", new { @class = "error" })
                    @Html.DropDownListFor(x => x.event_location_id, ViewBag.LocationList as SelectList, "--Select Location--", new { @class = "form-control" })
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button onclick="history.go(-1)" type="reset" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </form>
    }
</div>
